@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400);

* {
    margin: 1em 0;
    padding: 0;
    box-sizing: border-box;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

html, body {
    margin: 0;
}

body {
    font: 10pt/12.5pt Roboto, sans-serif;
    font-weight: 400;
    padding: 2.5em 2em;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 8pt;
        line-height: 10pt;
    }
}

pre, code {
    font-family: "Ubuntu Mono";
}

h1 {
    font-weight: 600;
    color: rgba(255, 0, 0, 0.6);
    margin-top: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.8);
}

td, th {
    text-align: left;
}

span.disabled {
    color: gray;
}

span.notice {
    font-style: italic;
}

div.view-selector {
    float: right;
}

div.view-selector > a {
    color: black;
    padding: 0.4em 0.6em;
    border: 0.1em solid black;
}

div.view-selector > a.selected, div.view-selector > a:hover {
    color: white;
    background-color: black;
}

div.category-selector {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.5em;
}

div.category-selector > a {
    margin: 0 1em 0 0;
    padding: 0 0 0.2em 0;
    color: black;
    border-bottom: 0.1em solid transparent;
}

div.category-selector > a.selected, div.category-selector > a:hover {
    border-bottom: 0.1em solid black;
}

div.panel {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

div.group {
    margin: 0 3em 0.8em 0;
}

div.group.invisible {
    display: none;
}

div.job-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

a.job {
    margin: 0 0.4em 0.4em 0;
}

div.job-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 7.5em;
    height: 7.5em;
    padding: 0.5em;
    margin: 0;
    background-color: rgb(191, 191, 191);
    color: white;
    text-align: center;
}

a.job.passed div.job-summary {
    background-color: rgb(63, 191, 127);
}

a.job.failed div.job-summary {
    background-color: rgb(255, 63, 0);
}

a.job.no-data div.job-summary, a.job.stale-data div.job-summary {
    border: 0.2em solid rgb(191, 191, 191);
    background-color: white;
    color: rgb(159, 159, 159);
}

a.job.blinky div.job-summary {
    animation: blinky 3s steps(30, start) infinite;
}

div.summary-component {
    font-size: 0.95em;
    margin: 0.2em 0;
    font-weight: 500;
}

div.summary-job, div.summary-environment, div.summary-start-time {
    font-size: 0.85em;
    margin: 0.2em 0;
    line-height: 1.2em;
}

div.job-detail {
    display: none;
}

a.job:hover > div.job-detail {
    display: block;
    position: absolute;
    color: black;
    background-color: rgb(239, 239, 239);
    padding: 1em;
    margin-top: -0.2em;
    box-shadow: 0 0.06em 0.2em rgb(127, 127, 127);
}

div.job-detail th, div.job-detail td {
    vertical-align: top;
    padding: 0.2em;
}

div.job-detail th {
    font-weight: 300;
    padding-right: 1em;
}

@keyframes blinky {
    to {
        visibility: hidden;
    }
}

table.jobs {
    width: 100%;
    border-collapse: collapse;
}

table.jobs tbody tr:hover {
    background: yellow;
}

table.jobs th, table.jobs td {
    padding: 0.2em 0.6em 0.1em 0;
}

table.jobs th {
    cursor: pointer;
    font-weight: 500;
}

table.jobs td:nth-child(5),
table.jobs td:nth-child(6),
table.jobs td:nth-child(7),
table.jobs th:nth-child(5),
table.jobs th:nth-child(6),
table.jobs th:nth-child(7) {
    text-align: right;
}
